vendor/
node_modules/
.vagrant/
.D
.DS_Store

bootstrap/compiled.php

bootstrap/cache/
.env

/public/storage
/storage/oauth-private.key
/storage/oauth-public.key

Homestead.yaml
composer.lock
.rocketeer/

/.idea
_ide_helper.php
.phpstorm.meta.php
