vendor/
node_modules/
/public/hot
npm-debug.log
.vagrant/
.D
.DS_Store
bootstrap/compiled.php
bootstrap/cache/
.env
/public/storage
/storage/*.key
Homestead.yaml
composer.lock
.rocketeer/
/.idea
_ide_helper.php
.phpstorm.meta.php
