/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.idea/codeStyleSettings.xml

.idea/blade.xml

.idea/copyright/profiles_settings.xml

.idea/lindale.iml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml
.idea/workspace.xml
.DS_Store
.idea/copyright/
app/.DS_Store
public/.DS_Store
resources/.DS_Store
resources/assets/.DS_Store
resources/assets/sass/.DS_Store
resources/views/.DS_Store
resources/views/admin/.DS_Store
resources/views/admin/comment/.DS_Store
resources/views/layouts/.DS_Store
resources/views/layouts/admin/.DS_Store
.idea/dataSources.ids
.idea/dataSources.xml

/.idea
.idea
.idea/dataSources.local.xml
_ide_helper.php
