.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eaeaea;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .1);
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    background: linear-gradient(to right, #343a40 0, #343a40 8px, #fff 8px, #fff 100%) no-repeat;
}
.bs-callout-default h4 {
    color: #343a40;
}
.bs-callout-primary {
    background: linear-gradient(to right, #007bff 0, #007bff 8px, #fff 8px, #fff 100%) no-repeat;
}
.bs-callout-primary h4 {
    color: #007bff;
}
.bs-callout-success {
    background: linear-gradient(to right, #28a745 0, #28a745 8px, #fff 8px, #fff 100%) no-repeat;
}
.bs-callout-success h4 {
    color: #28a745;
}
.bs-callout-danger {
    background: linear-gradient(to right, #dc3545 0, #dc3545 8px, #fff 8px, #fff 100%) no-repeat;
}
.bs-callout-danger h4 {
    color: #dc3545;
}
.bs-callout-warning {
    background: linear-gradient(to right, #ffc107 0, #ffc107 8px, #fff 8px, #fff 100%) no-repeat;
}
.bs-callout-warning h4 {
    color: #ffc107;
}
.bs-callout-info {
    background: linear-gradient(to right, #17a2b8 0, #17a2b8 8px, #fff 8px, #fff 100%) no-repeat;
}
.bs-callout-info h4 {
    color: #17a2b8;
}