@CHARSET "UTF-8";
body{
	word-wrap: break-word;
	font-family: 'Raleway', sans-serif;
	padding-bottom: 70px;
	padding-top: 75px;
	color: #000;
	background-color: #fff;
}

.navbar-default{
	background: #fff url(/img/nav-color.jpg) repeat-x bottom !important;
}

.navbar-default .navbar-nav>li>a{
	color: #00184a;
}

.project-panel{
	height: 200px;
	align-items: center;
	display: flex;
	justify-content: center;
	overflow-y: scroll;
}

.project-panel-img{
	height: 200px;
	overflow-y: scroll;
}

.table-responsive-div{
	overflow-y: hidden;
}

.member-card-body{
	height: 170px;
	overflow-y: scroll;
}

.member-card-footer{
	height: 40px;
}

.home-project-card{
	overflow-y: hidden;
	height: 130px;
}

.status-panel{
	border-bottom-width: 10px;
	border-bottom-color: #00184a;
}

.nav-tabs{
	background-color: #ffffff;
}

.nav-tabs > li > a{
	color: #666;
}

.nav-tabs > li > a:hover{
	background-color: #ffffff;
	border-color: #ffffff;
	border-bottom-width: 3px;
	border-bottom-color: #eb5b4f;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
	color: #eb5b4f;
	border-color: #ffffff;
	border-bottom-width: 3px;
	border-bottom-color: #eb5b4f;
}

.lindale-footer{
	background: #fff url(/img/nav-color.jpg) repeat-x bottom !important;
	height: 25px;
}

.lindale-color{
	color: #00184a;
}

.well-home {
	border: 1px solid rgba(0, 0, 0, .1);
	box-shadow: 3px 3px 30px rgba(0, 0, 0, .1);
	background: rgba(243, 243, 243, .1);
	padding: 16px 25px
}

.logo{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 0;
}
