@CHARSET "UTF-8";
body{
	word-wrap: break-word;
	font-family: 'Raleway', sans-serif;
	padding-bottom: 70px;
	padding-top: 70px;
}

.project-panel{
	height: 200px;
	align-items: center;
	display: flex;
	justify-content: center;
	overflow-y: scroll;
}

.project-panel-img{
	height: 200px;
	overflow-y: scroll;
}

.table-responsive-div{
	overflow-y: hidden;
}

.member-card-body{
	height: 170px;
	overflow-y: scroll;
}

.member-card-footer{
	height: 40px;
}

.home-project-card{
	overflow-y: hidden;
	height: 130px;
}

.status-panel{
	border-bottom-width: 10px;
	border-bottom-color: #505e91;
}
