.loader {
  position: fixed;
  z-index: 10000000;
  width: 100%;
  height: 100%;
  background-color: $white;
  img {
    position: fixed;
    height: 100px;
    width: 300px;
    top:calc(50% - 100px/2);
    left:calc(50% - 300px/2);
  }
}